@model IEnumerable<PhungQuocChien_2001190438.Models.NongSan>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3 mb-5">
            <div class="portfolio-item mx-auto">
                <a href="/SanPham/Details?name=@item.idSP">
                    <img class="img-fluid" src="~/Hinhanh/@item.HinhDaiDien">
                </a>
                <div class="text-center">
                    <p style="height: 48px">@item.TenSP</p>
                    <p><span>@item.DonGia</span>VNĐ</p>
                    <a class="btn btn-secondary btn-sm" href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.idSP, @strURL = Request.Url.ToString() })">Mua hàng</a>
                </div>
            </div>
        </div>
    }
</div>
