<div class="d-flex ms-auto">
    <div>
        <img src="~/Hinhanh/img_giohang.jpg" class="" />
    </div>
    <div>
        <a href="/GioHang/XemGioHang">Xem giỏ hàng</a>
        <div>
            <p><span>@ViewBag.tongsoluong</span> sản phẩm - <span>@ViewBag.tongtien.ToString("#,##")</span> VNĐ</p>
        </div>
    </div>
</div>